/*******************************************************/
/*     stylesheet for Pescaderia María Jesus Proyecto */
/*      author: Antonio Lorenzo                      */
/*       version 1.0                                */
/*comment: project for lenguahes de Marcas - 1ª DAM*/
/**************************************************/
@font-face {
  font-family: titulo;
  src: url(../fonts/Insiders.otf);
}
@font-face {
  font-family: encabezado;
  src: url(../fonts/Agina.otf);
}
.logo a{
  font-family: titulo;
}
body {
  font-family: encabezado;
  font-size: 1.2em;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
#intro{
  padding-top: 20px;
}

/*barra de navegacion responsive*/
/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.intro{
  padding:10px;
}
nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 70px;
  background: #046bd2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar{
  height: 100%;
  max-width: 1250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  
  padding: 0 50px;
}
.navbar .logo a{
  font-size: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links{
  line-height: 70px;
  height: 100%;
}
nav .navbar .links{
  display: flex;
}
nav .navbar .links li{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 14px;
}
nav .navbar .links li a{
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(180deg);
  }

nav .navbar .links li .arrow{
  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  line-height: 40px;
  background: #046bd2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu{
  display: block;
}
.navbar .links li .sub-menu li{
  padding: 0 22px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
.navbar .links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow{
  line-height: 40px;
}
.navbar .links li .htmlCss-more-sub-menu{
  line-height: 40px; 
}
.navbar .links li .sub-menu .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu{
  display: block;
}
.navbar .search-box{
  position: relative;
  height: 40px;
  width: 40px;
}
.navbar .search-box i{
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 40px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.navbar .search-box .input-box{
  position: absolute;
  right: calc(100% - 40px);
  top: 80px;
  height: 60px;
  width: 300px;
  background: #3E8DA8;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.navbar.showInput .search-box .input-box{
  top: 65px;
  opacity: 1;
  pointer-events: auto;
  background: #046bd2;
}

.search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: #046bd2;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
}
.search-box .input-box input{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  height: 35px;
  width: 280px;
  outline: none;
  padding: 0 15px;
  font-size: 16px;
  border: none;
}
.navbar .nav-links .sidebar-logo{
  display: none;
}
.navbar .bx-menu{
  display: none;
}
@media (max-width:920px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }

  nav .navbar .logo a{
    font-size: 27px;
  }
  nav .navbar .links li{
    padding: 0 10px;
    white-space: nowrap;
  }
  nav .navbar .links li a{
    font-size: 15px;
  }
}
@media (max-width:800px){
  nav{
    position: relative; 
  }
  .navbar .bx-menu{
    display: block;
  }
  nav .navbar .nav-links{
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 270px;
    width: 100%;
    background:  #3E8DA8;
    line-height: 40px;
    padding: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name{
    font-size: 25px;
    color: #fff;
  }
    .sidebar-logo  i,
    .navbar .bx-menu{
      font-size: 25px;
      color: #fff;
    }
  nav .navbar .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .links li .arrow{
    line-height: 40px;
  }
nav .navbar .links li{
    display: block;
  }
nav .navbar .links li .sub-menu{
  position: relative;
  top: 0;
  box-shadow: none;
  display: none;
}
nav .navbar .links li .sub-menu li{
  border-bottom: none;

}
.navbar .links li .sub-menu .more-sub-menu{
  display: none;
  position: relative;
  left: 0;
}
.navbar .links li .sub-menu .more-sub-menu li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
  transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu{
    display: none;
  }
  .navbar .links li .sub-menu .more span{
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu{
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu{
    display: none;
  }
.navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu{
      display: block;
    }
    .navbar .nav-links.show1 .links .htmlcss-arrow,
    .navbar .nav-links.show3 .links .js-arrow{
        transform: rotate(180deg);
}
    .navbar .nav-links.show2 .links .more-arrow{
      transform: rotate(90deg);
    }
}
@media (max-width:370px){
  nav .navbar .nav-links{
  max-width: 100%;
} 
}

/*hasta aqui la barra de navegación*/
#wrapper {
  width: 100%;
  margin: auto;
}

.container {
  width: 700px;
  height: 300px;
  margin-top: 40px;
  margin-left: 600px;
  text-align: center;
  height: auto;
  text-align: center;
  border-radius: 10%;
}

.hero {
  background-image: url("../img/posibleBACKGROUND.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  width: 100%;
  margin: auto;
  color: #fff;
  display: flex;
  min-height: 40vh;
}
.hero h1 {
  font-size: 3em;
  margin: 0;
  padding: 10px;
  max-width: 800px;
  width: 90%;
}

@media (max-width: 650px) {
  .hero h1 {
    font-size: 2.5em;
  }
}
.media {
  padding-top: 30px;
}
.main-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
#intro {
  font-size: 1.2em;
}
.btn {
  border: none;
  color: black;
  background-color: #fff;
  padding: 12 px 16 px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: grey;
}

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  color: #000000;
}

.box-container {
  display: flex;
  justify-content: center;
}

.box {
  height: 11rem;
  width: 17rem;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 5rem rgba(0, 0, 0, 0.5);
  margin: 2rem;
}
.grid-3 {
  display: grid;
  grid-template-columns: 100%;
}
.col-3 {
  padding: 6%;
}

#nosotros {
  font-size: 1.2em;
  text-align: center;
  margin: auto;
  padding: 50px;
}
#contactos{
  text-align: center;
  padding: 100px;
  padding-top: 100px;
  font-size: 1.2em;
}
.footer {
  background-color: #046bd2;
  color: #fff;
  text-align: center;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer ul {
  list-style: none;
}
.grid-4 {
  display: grid;
  grid-template-columns: 100%;
}
.col-4 {
  padding: 5%;
  border: 1 px solid white;
  border-radius: 10px;
  text-align: center;
}

.btn {
  display: center;
  place-items: center;
  background: #e3edf7;
  padding: 0.4em;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.5s;
}

.btn:hover {
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(0.5em);
}

.btn svg {
  transition: transform 0.5s;
}

.btn:hover svg {
  transform: scale(0.9);
  fill: #333333;
}

.ubicacion {
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 650px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

@media only screen and (width<650px) {
  .grid-3 {
    grid-template-columns: 100%;
  }
}
@media only screen and (width>650) {
  .grid-4 {
    grid-template-columns: auto auto;
  }
}

@media only screen and (width>900px) {
  #wrapper {
    width: 100%;
  }
  .grid-3 {
    grid-template-columns: auto auto auto;
  }
  .grid-4 {
    grid-template-columns: auto auto auto auto;
  }
}
